<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset">
        <!-- <div class="alert alert-danger" *ngIf = "error">
            <p>
                {{error}}
            </p>
        </div> -->
        <app-alert [message]="error" *ngIf="error" (close)="onHandleerror()"></app-alert>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authform="ngForm" (ngSubmit)="onSubmit(authform)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="EMAIL">E-mail</label>
                <input type="email" class="form-control" name="email" required email ngModel id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ngModel required class="form-control" name="password" minlength="6"
                    id="password">
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authform.valid"> {{isLoginMode ? 'Login' :
                    'Sign Up' }}</button>
                |
                <button class="btn btn-primary" (click)="onswitchmode()" type="button">Switch to {{ isLoginMode ? 'Sign
                    Up' : 'Log In'}}</button>
            </div>
        </form>
    </div>
</div>